# Database
DATABASE_URL="postgresql://dietista:dietista_dev_password@localhost:5432/dietista?schema=public"

# NextAuth.js
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI
OPENAI_API_KEY="sk-your-openai-api-key"
